@import "tailwindcss";

@theme {
    --color-primary: var(--modern-primary);
}

/* disable preflight in content */
.content h1 {
    font-size: 2em;
}

.content h2 {
    font-size: 1.5em;
}

.content a {
    color: royalblue;
}

.theseed-dark-mode .content a {
    color: orange;
}