<div class="Modern">
    <h1>hi</h1>
    <button class="uk-btn uk-btn-default">hh</button>
</div>
<style>
    @import "/skins/<%=skin%>/css/output.css";
    @import "/skins/<%=skin%>/css/franken.css";
</style>